
<form action="/employee" method="POST" autocomplete="off">
 <input type="hidden" name="bl_id" value="test1">
<a class="btn btn-secondary" href="/employee/clients"><i class="fa fa-plus"></i> Clients</a>
 <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Nouveau BL</button>
 </form>
