
<form action="/tm" method="POST" autocomplete="off">
 <input type="hidden" name="bl_id" value="test1">
<a class="btn btn-secondary" href="/tm/clients"><i class="fa fa-plus"></i> Clients</a>
<a class="btn btn-info" href="/tm/selectClient"><i class="fa fa-plus"></i> Nouveau BL</a>
 
 </form>
